/*
body{font-family:'Times New Roman';
    font-size: 11pt;
    color: #3333ff;
    background-color: aqua;
    margin-top: 100px;
    margin-left: 100px;
    background-image:url("./imagenes/logoPrincipal.png");
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    }

p,h1{font-family: Verdana;
    font-size: 11pt;
    }

td{font-family: Impact;
    font-size: 20pt;
    }


a{text-decoration: none;cursor:url("imagenes/pera.png");
    }


a:hover{color: green;}
a:link{color: rebeccapurple;}
a:visited{color: red;}

ul{list-style-type: none;
}

li{display: inline;
}

    input:required{text-transform: uppercase;
    }

    .resaltado{border: double 5px red;
    font-size: 20pt;
    }

    .mayusculas{text-transform: uppercase;
    }

    .contenedor{margin: 0 auto;
    width: 80%;
    }
    */
body{
    background-repeat: no-repeat;
    background-size: 1500px;
    background-position: center center;
    background-attachment: fixed;
    overflow: hidden;
}
.tabla_dialogo, .sinrespuesta{
    color: white;
    text-align: center;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 40px;
    text-shadow: 
    -2px -2px 0 black, 
    2px -2px 0 black, 
    -2px  2px 0 black,
    2px  2px 0 black;
}
td{
    cursor: pointer;
}
.tiempo{
    text-align: center;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 10px;
    border-radius: 20%;
}